# Environments
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS Generated
.DS_Store
Thumbs.db
